.completed {
  color: #5ba2d1;
  font-family: Georgia;
  text-decoration: line-through;
}

h1 {
  color: #1e087c;
  text-align: center;
  line-height: 75px;
  font-size: 60px;
  font-family: Georgia;
  background-color: rgb(24, 173, 153);
  margin: 40px 500px;
  background-size: 30px 20px;
  border-radius: 20px;
 
}

.things-to-do {
  display: block;
  text-align: center;
  background-color: rgb(216, 65, 135);
  margin: 40px 300px;
  border-radius: 20px;
  font-family: Georgia;
  font-size: 25px;
  line-height: 55px;
}

body {
  background-image: url("https://images.assetsdelivery.com/compings_v2/blankstock/blankstock1612/blankstock161202191.jpg");
}

.label {
  margin-left: 200px;
  align-items: center;
  justify-content: center;
  color: rgb(52, 9, 87);
  font-family: Georgia;
  font-size:xx-large;
  font-weight: bolder;
  align-content:center;
}

.option {
  margin-left: 20px;
  align-items: center;
  justify-content: center;
  color: rgb(52, 9, 87);
  font-family: Georgia;
  font-size:xx-large;
  font-weight: bolder;
  align-content: center;
}


button {
  background-color: #5ba2d1;
  border-radius: 20px;
  margin-left: 20px;
  border: none;
  color: white;
  padding: 8px 18px;
  font-size: 20px;
  width: auto;
  height: auto;
}

.delete-completed {
  font-size: 30px;
  background-color: rgb(24, 173, 153);
  text-align: center;
  color: #1e087c;
  font-family: Georgia;
  display: flex;
  align-self: center;
  font-weight: bolder;
  margin: 40px 600px;
}

ul {
  list-style-type: none;
}